<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CONSTANT MODE</title>
  <style>
    #videoEl {
      width: 30vw;
      aspect-ratio: 9 / 16;
    }
  </style>
</head>
<body>
  <video id="videoEl"></video>
  <p id="info"></p>
  <p id="viewers">view count: 0</p>
  <!--<script src="lz-string.min.js"></script>-->
  <script src="socket.io/socket.io.js"></script>
  <script src="public/const.js"></script>
</body>
</html>
  
