<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>STREAM RECEIVER</title>
  <style>
    #stream {
      width: 50vw;
      aspect-ratio: 9 / 16;
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <input id="streamInp" type="text/plain" placeholder="stream id: ">
  <button id="reqStream">connect</button>
  <span>Streamer Mode: </span>
  <select id="mode">
    <option value="regular">regular</option>
    <option value="c-mode">c-mode</option>
  </select>
  
  <span id="pingEl">
    ping: 0
  </span>
  
  <img id="stream">
  <script src="lz-string.min.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script src="public/receiver.js"></script>
</body>
</html>
