<!-- streamer.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Streamer</title>
  </head>
  <body>
    <h1>Streamer</h1>
    <button id="startButton">Start Streaming</button>
    <video id="localVideo" autoplay></video>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/streamer.js"></script>
  </body>
</html>
